
<div class = "btn menu" aria-labelledby="navbarDropdown">
    <nav>
        <ul>
            <li><a href="#">Create accounts</a></li>
            <li><a href="#">Modify account</a></li>
            <li><a href="#">Transafer request</a></li>
            <li><a href="#">User Profile</a></li>
            <li><a href="/logout">Log out</a></li>



        </ul>
    </nav>


    <!-- Dont remove below code: ripu -->
    <!-- <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> -->
</div>

